.blog-home {
    
    padding: 20px 20px 40px 20px;
    background-color: rgb(20, 18, 32);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .blog-home h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #121212;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .btn {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 12px 14px;
    font-size: 1rem;
    background-color: #54a345;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .btn:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
  }
  
  @media (max-width: 600px) {
    .blog-home {
      padding: 15px;
    }
  
    .blog-home h1 {
      font-size: 2rem;
    }
  
    .btn {
      padding: 10px 20px;
      font-size: 0.875rem;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }